.appbar_main {
    background: #6E00FF;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    height: 100%;
    margin: 0px 18px;
}

.appbar_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

.appbar_wrapper img {
    top: 0;
}



.MenuIcon {
    width: 100% !important;
    color: #fff !important;
    background: transparent;
    padding: 10px 0px;
    margin: 10px 0px;
}

.MenuIcon_active {
    width: 100% !important;
    color: #fff !important;
    background: rgba(97, 45, 209, 0.9);
    border-right: 3px solid #F3B559;
    padding: 10px 0px;
    margin: 10px 0px;
}

@media(max-width:768px) {
    .App {
        text-align: center;
        margin: 10px;
    }

    .appbar_wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: flex-end;
        align-content: flex-end;
        width: 100%;
    }

    .MenuIcon_active {
        border-right: none !important;
    }
    .appbar_main{
        margin: 0 !important;
    }
}

.IconStyle {
    width: 2rem !important;
    height: 2rem !important;
}

.profileImage {
    width: 78px;
    height: 78px;
    text-align: center;
    border: 4px solid #5322BC;
    border-radius: 50%;
}