.Chat {

    background: #FFFFFF;
    box-shadow: 0px 4px 5px 2px rgba(121, 197, 239, 0.38);
    border-radius: 25px;
    height: 730px;
    overflow-y: scroll;
    padding: 10px;
}

.chatWrapper {
    display: flex;
    align-items: center;
}

.iconStyle {
    color: #fff;
    width: 1.4em;
    height: 1.4em;
    background: #6E00FF;
    border-radius: 20px;
}

.MessageWrapper {
    list-style: none;
    padding: 0;
    width: fit-content !important;
}

.MessageWrapperRight {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end !important;
}

.MessageWrapper li {
    margin: 10px 0px;
    height: 26px;
}

.MessageWrapperRight li {
    margin: 10px 0px;
    height: 26px;
}

.response {
    background: #E7E7E7;
    border-radius: 25px;
    color: #000;
    /* float: left; */
    margin: 10px 0px;
    padding: 15px 10px;
    width: fit-content;
}

.request {
    background: #6E00FF;
    border-radius: 25px;
    color: #fff;
    margin: 10px 0px;
    /* float: right; */

    padding: 15px 10px;
    width: fit-content;
}

.Iconwrapper {
    text-align: right !important;
}

.ChatInput {
    width: 100%;
  

}

.ChatTextField {
    background: rgba(239, 246, 252, 0.87);
    border-radius: 25px;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    color: #303030;
    outline: none;
}
#chat-window {
    height: 20rem;
}

#chat-window-messages {
    height: 18rem;
    overflow: auto;
}
ul#chat-window-messages {
    height: 475px !important;
    overflow: auto !important;
}
.MessageWrapper0{
    text-align: right;
    width: fit-content;
    display: flex;
    justify-content: flex-end;
}